
@font-face {
font-family: Norwester;
	src: url("fonts/norwester.otf") format("opentype");
}

/* Set box sizing mode to be border box */
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    background-color: #FFF;
  	font-family: 'Open Sans', sans-serif;
    
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* ------------- SITE GRID STYLING ------------- */

 .main-grid {
	display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display: flex; 

	/* wrap child elements that are too-wide for their current row */
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap; 

	-webkit-align-items: stretch;
	-ms-align-items: stretch;
	align-items: stretch;

  flex: 1 0 auto;
  flex-direction: column;
 }

 /* Header element for site grid */
.grid-item-header {
  width: 100%;
  flex: none;
  position: relative;

  background-color: #dddfd4;
}

/* Main navigation bar */
.grid-item-nav {
	width: 100%;
	margin-bottom: 0;
  padding-bottom: 0;
  display: block;

  flex: none;
}

/* Clear floats for navigation, since nav buttons are floated */
.grid-item-nav:after {
  clear: both;
}


.grid-item-body {
  flex: 1 0 100%;
  padding: 0;
  margin: 0;
}

/* Secondary navigation */
.grid-item-nav-sub {
  /*background-color: #328A87;*/
  background-color: #FFF;
  margin-top: 0;
  padding-top: 0;

  border-top: 0.5em #fae596 solid;
  border-right: none;
  border-bottom: 2px #999 dotted;

  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}

/* The main content area */
.grid-item-content {
	-webkit-flex-basis: 20em;
	-ms-flex-basis: 20em;
	flex-basis: 20em;

  padding-left: 1em;
  padding-right: 1em;
}

.main-grid-inner {
  display: flex;
  flex-direction: column;
}

/* Sub conent grids that go inside the main content section */
.grid-item-content-sub {
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;

  -webkit-flex: 0 0 1;
  -ms-flex: 0 0 1;
  flex: 0 0 1;

  max-width: 100%;

  -webkit-flex-basis: auto;
  -ms-flex-basis: auto;
  flex-basis: auto;
}

.grid-item-footer {
  width: 100%;
  background-color: #3fb0ac;
}

.centered-content {
  margin: auto;
  width: 80%;
}

/* larger display settings */
@media (min-width: 35em) {

  .main-grid {
    flex-direction: column;
  }

  .grid-item-body {
    flex-direction: row;
    flex: 1;
    display: flex;
  }

	.grid-item-content {
    padding-left: 2rem;
    padding-right: 0;
    flex: 1;
    height: 100%;
	}

	.grid-item-nav-sub {
    border-top: 1em #fae596 solid;
    border-right: 2px #999 dotted;
    border-bottom: none;
    flex: 1;
    max-width: 15em;
	}

  .main-grid-inner {
    flex-direction: row;
  }

  .centered-content {
    width: 80%;
    /*margin-left: 15em;*/
  }
}

/* ------------- END OF SITE GRID STYLING ------------- */

/* ------------- ELEMENT STYLING ------------- */

/* Button base for all of the main buttons */
.button-base, 
.button-nav, 
.button-nav-active, 
.button-nav-sub, 
.button-nav-sub-product, 
.button-nav-sub-product-active {
	display: inline-block;
	float: left;
	padding: 0.5em 0.75em;
	font-family: 'Roboto Slab';
	color: #FFF;
	background-color: #173e43;
	text-decoration: none;
	width: 100%;

  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

/* Styling for the navigation button */
.button-nav, 
.button-nav-active {
  margin-right: 0;

  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.button-nav-active {
  background-color: #328A87;
  color: #fae596;
}

/* Styling for the sub navigation button */
.button-nav-sub, 
.button-nav-sub-product, 
.button-nav-sub-product-active {
  /*background-color: #328A87;*/
  background-color: #FFF;
  color: #328A87;
  text-decoration: underline;

  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.button-nav-sub:focus, 
.button-nav-sub:hover, 
.button-nav-sub-product:focus, 
.button-nav-sub-product:hover, 
.button-nav-sub-product-active:focus, 
.button-nav-sub-product-active:hover {
  background-color: #328A87;
  color: #3fb0ac;
}

.button-nav:focus, 
.button-nav:hover, 
.button-nav-active:focus, 
.button-nav-active:hover {
  background-color: #328A87;
}

.grid-item-nav-sub ul {
  list-style: none;
  color: white;
  padding: 0;
  margin: 0;
}

.grid-item-nav-sub ul li {
  display: block;
}

.header-link {
  position: absolute;
  right: 10%;
  top: 3em;
  padding: 0;
  font-size: 0.9rem;
}


/* Media querey for all nav buttons on larger screens */
@media (min-width: 35em) {

	.button-nav, 
  .button-nav-active {
		max-width: 25%;
    border-right: 1px #FFF solid;
	}

	.button-nav-sub {
		margin-right: 0;
	}

  .header-link {
    right: 2em;
    top: 0;
    padding: 0 0 0.5em 0;
  }
}

/* In text link styling */
.body-text > a {
   color: #3374BA;
   text-decoration: none;
}

.body-text > a:hover, 
.body-text > a:focus {
  color: #14499E;
  text-decoration: underline;
}

 /* checkout */

.choose-button {
  display: inline-block;
  padding: 2em 2em;
  margin: 0em;
  margin-top: 1em;
  margin-right: 1em;
  font-family: 'Roboto Slab';
  color: #FFF;
  background-color: #173e43;
  text-decoration: none;
  vertical-align: top;
  border: none;
}
.pay-button {
  display: inline-block;
  padding: 0.3em 0.5em;
  margin: 0em;
  margin-top: 5em;
  margin-right: 1em;
  font-family: 'Roboto Slab';
  color: #FFF;
  background-color: #fae596;
  text-decoration: none;
  vertical-align: top;
  border: none;
}


/* Input button */
.button-form-submit, 
.button-form-reset {
  display: inline-block;
  padding: 0.3em 0.75em;
  margin: 0em;
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 0.5em;
  font-family: 'Roboto Slab';
  color: #FFF;
  background-color: #173e43;
  text-decoration: none;
  vertical-align: top;
  border: none;

  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.button-form-submit-2, 
.button-form-reset {
  display: inline-block;
  padding: 0.3em 0.75em;
  margin: 0em;
  margin-top: 2.5em;
  margin-right: 1em;
  margin-bottom: 0.5em;
  font-family: 'Roboto Slab';
  color: #FFF;
  background-color: #fae596;
  text-decoration: none;
  vertical-align: top;
  border: none;

  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.button-form-reset {
  background-color: #fae596;
}

.button-form-submit:hover, 
.button-form-submit:focus {
  background-color: #000;
}

.button-form-reset:hover, 
.button-form-reset:focus {
  background-color: #DECB85;
}


/* Text box input */
.input-text {
  display: inline-block;
  padding: 0.2em 0.3em;
  border: none;
  border: 0.1em solid #999;
  /*max-width: 15em;*/

  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}

.input-text:focus {
  outline: none;
  -webkit-box-shadow: inset 0em 0em 0.4em 0em;
  box-shadow: inset 0em 0em 0.4em 0em;
}

.input-label {
  font-weight: light;
  display: block;
  color: #999;
  margin-top: 1em;
}

/* specialty footer styling */
.grid-item-footer ul {
  list-style: none;
  padding: 0;
  display: inline-block;
  float: left;
  margin-right: 5em;
}

.grid-item-footer ul a {
  color: #FFF;
  text-decoration: none;
  font-size: 0.8rem;

  font-style: italic;

  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}
 
/* footer links */
.grid-item-footer ul a:hover, 
.grid-item-footer ul a:focus {
  color: #328A87;
}

.grid-item-footer .centered-content div {
  display: block;
  float: left;
}

.grid-item-footer:after {
  clear: both;
}

/* 
  TEXT ELEMENTS -------------------
*/

/* Header for big things */
.big-header {
  color: #FFF;
  font-family: 'Norwester';
  font-size: 3em;
  padding: 0;
  margin: 0.5rem;
  display: inline-block;
}

/* Header for body text */
.body-header {
  color: #000;
  font-family: 'Roboto Slab';
  margin: 0.2em 0em 0.3em 0em;
}

/* Header for small things and product listings */
.sub-header {
  font-family: 'Open Sans';
  font-size: 1em;
  font-weight: bold;
}

/* Main body text */
.body-text {
  max-width: 50rem;
  min-width: 10rem;
  width: 100%;
  font-family: 'Open Sans';
  font-size: 0.9rem;
}

.grid-item-footer .body-text {
  color: #FFF;
  display: inline-block;
  float: left;
}

/* A bulleted list */
.point-list {
  list-style-position: inside;
  /*list-style-type: none;*/
  padding-left: 0em;
}

/* A numbered list */
.numbered-list {
  list-style-position: inside;
  list-style-type: none;
  padding-left: 0em;
  
}

.numbered-list li {
  counter-increment: step-counter;
   margin: 0.2em 0em;
}

.numbered-list li::before {
  content: counter(step-counter);
  display: inline-block;
  margin-right: 0.75rem;
  background-color: #4CAE4E;
  color: #FFF;
  width: 1em;
  height: 100%;
  font-family: 'Roboto Slab';
  font-size: 1.1rem;
  text-align: center;
}


@media (min-width: 35em) {
  .body-text {
    max-width: 80%;
  }
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

.input-label {
  font-weight: light;
  display: block;
  color: #999;
}

.form-search {
  float: right;
  padding: 0 0 1rem 0;
  width: 100%;
}

.form-search .input-text {
  display: inline-block;
  width: 80%;
  vertical-align: top;
}

.form-search .button-form-submit {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.form-search:after {
  clear: both;
}

.form-search a {
  display: block;
  text-decoration: none;
  padding-bottom: 0.5rem;
}

/*center things */
.center {
    margin-left: auto;
    margin-right: auto;
}

/*text input */
.input-wrapper {
  margin: 0 0 1em 0; 
  float: left;
  display: block;
}

.input-wrapper textarea {
  margin-top: 1em;
  width: 100%;
  height: 6em;
}

/* Media querey for all nav buttons on larger screens */
@media (min-width: 35em) {

  
  .form-search .input-text {
    display: inline;
    margin: 0;
    width: auto
  }

  .form-search .button-form-submit {
    display: inline;
    margin: 0;
    width: auto;
  }

  .form-search .button-form-submit-2 {
    display: inline;
    margin: 0;
    width: auto;
  }


  .form-search {
    width: auto;
    padding: 1.5rem 2rem 0 0;
  }
}



/* 
  Product page styling ----------------
*/

.product-image {
  width: 100%;
  height: 20em;
  display: block;
  border: 2px #999 dotted;
}

.product-list {
  position: relative;
}

.button-nav-sub-product-active {
  /*color: #fae596;*/
  color: #000;
}

.product-grid {
  width: 100%;
  height: auto;
}

.product-grid:after {
  content: "";
  display: block;
  clear: both;
}

.product-element {
  display: block;
  position: relative;
  width: 17em;
  height: 17em;
  padding: 0em;
  margin: 1em auto 1em auto;
  padding: 0em;
  text-decoration: none;
  overflow: hidden;

  background-color: #fae596;

  -webkit-transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
}

.product-element img {
  width: 100%;
  height: auto;
}


.product-element:hover,
.product-element:focus {
  -webkit-box-shadow: 0em 0em 2em 0em rgba(0, 0, 0, 1.0);
  -moz-box-shadow: 0em 0em 2em 0em rgba(0, 0, 0, 1.0);
  box-shadow: 0em 0em 2em 0em rgba(0, 0, 0, 1.0);
}

.product-element h2 {
  margin: 0.5em;
  padding: 0;
  font-family: 'Roboto Slab', sans-serif;
  color: #fff;
}

/*.product-element h3 {
  margin: 0.5em;
  size:2em;
  padding: 0;
  font-family: 'Roboto Slab', sans-serif;
  color: #fff;
}*/

.product-element div {
  width: 100%;
  height: 6em;
  background-color: #FFF;
  position: absolute;
  bottom: 0;
}

.product-element div p {
  font-size: 0.8rem;
  padding-left: 1rem;
  margin: 0.5em;
  color: #000;


}

.product-element div p small{
  font-size: 0.65rem;
  /*padding-left: 1rem;*/
  /*margin: 0.5em;*/
  color: #000;
}

.product-element div p strong {
  font-style: italic;
  color: #000;
  font-weight: normal;
}


@media (min-width: 35em) {

  .product-image {
    width: 90%;
    max-width: 20em;
  }

  .product-element {
    display: inline-block;
    margin: 1em 2em 1em 0em;
    float: left;
  }

}


/*
  Product review styling -----------------------------
*/

.product-review img{
  max-width: 100%;
  display: inline-block;
}

.product-info .body-header {
  color: #555;
}

.product-review .product-info {
  display: inline-block;
  vertical-align: top;
}

.product-review .review-area {
  display: block;
}

.review-area textarea {
  display: block;
  width: 95%;
  max-width: 50em;
  height: 10em;
}

/*
  News Feed Scrolling list area ---------------
*/

.news-feed {
  list-style: none;
  padding: 0;
  margin: 0;
}

.news-entry {
  display: block;
  width: 100%;
  border: 2px #999 dotted;
  padding-left: 2em;
  margin-bottom: 2em;
}

.news-signature {
  color: #999;
  font-size: 0.8em;
}

@media (min-width: 35em) {
  .news-entry {
    width: 80%;
  }
}

/*
  Video placeholder -----------------
*/

.video-area {
  display: block;
  /*width: 100%;*/
  height: 20rem;

  width: 30rem;

  border: 2px #999 dotted;
}

.video-area video {
  width: 100%;
  height: 100%;
}


.video-standin {
  margin-left: 0;
  padding-left: 0;
  max-width: 100%;
}

/*
  Javascript hooks ------------------------
*/
.colapsed {
  display: none;
}

/* Main menu drop down button */
#menu-btn {
  background-color: #fae596;
  font-family: 'Roboto slab' sarif;
  color: #FFF;
  padding: 0.2em 0 0.5em 0;
  text-align: center;

  /* It acts as a btn so it needs to look like it */
  cursor: pointer;

  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

#menu-btn:focus, 
#menu-btn:hover {
  background-color: #E3CB6F;
}


/*ul.citations {
  margin-left: 0.25em;
  padding-left: 0.25em;
}
.point-list li {
  color: #000;
  border-left: 1em #3fb0ac solid;
  padding: 0em 0em 0em 0.2em;
  margin: 0.2em 0em;
}
*/