body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:492px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u1 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:4px;
  width:59px;
  height:19px;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:10px;
  top:23px;
  width:129px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:15px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:0px;
  top:38px;
  width:170px;
  height:22px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
}
#u7 {
  position:absolute;
  left:2px;
  top:3px;
  width:166px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:65px;
  width:170px;
  height:20px;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:166px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:10px;
  top:143px;
  width:160px;
  height:130px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:130px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:10px;
  top:95px;
  width:150px;
  height:38px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:10px;
  top:425px;
  width:150px;
  height:38px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:472px;
  width:170px;
  height:40px;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u17 {
  position:absolute;
  left:10px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:514px;
  width:170px;
  height:40px;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u19 {
  position:absolute;
  left:10px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:556px;
  width:170px;
  height:40px;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u21 {
  position:absolute;
  left:10px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:598px;
  width:170px;
  height:40px;
  text-align:left;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u23 {
  position:absolute;
  left:10px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:640px;
  width:170px;
  height:40px;
  text-align:left;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u25 {
  position:absolute;
  left:10px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:682px;
  width:170px;
  height:40px;
  text-align:left;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u27 {
  position:absolute;
  left:10px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:724px;
  width:170px;
  height:40px;
  text-align:left;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u29 {
  position:absolute;
  left:10px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:190px;
  top:472px;
  width:170px;
  height:32px;
  color:#797979;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:32px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:190px;
  top:138px;
  width:302px;
  height:32px;
  color:#797979;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:32px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:190px;
  top:38px;
  width:299px;
  height:16px;
  color:#797979;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  white-space:nowrap;
}
