body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:549px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-10px;
  width:320px;
  height:600px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:600px;
}
#u1 {
  position:absolute;
  left:2px;
  top:292px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:27px;
  top:2px;
  width:106px;
  height:33px;
  font-size:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:33px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:142px;
  top:13px;
  width:172px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:0px;
  top:40px;
  width:320px;
  height:40px;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:80px;
  width:320px;
  height:210px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:210px;
}
#u11 {
  position:absolute;
  left:2px;
  top:97px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:52px;
  top:214px;
  width:138px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:10px;
  top:90px;
  width:203px;
  height:22px;
  font-size:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:22px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:10px;
  top:300px;
  width:180px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:20px;
  top:374px;
  width:300px;
  height:130px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:130px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:20px;
  top:514px;
  width:300px;
  height:140px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:140px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:20px;
  top:350px;
  width:180px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:19px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:20px;
  top:670px;
  width:246px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:19px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:0px;
  top:699px;
  width:320px;
  height:40px;
  text-align:left;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u27 {
  position:absolute;
  left:10px;
  top:12px;
  width:308px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:741px;
  width:320px;
  height:40px;
  text-align:left;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u29 {
  position:absolute;
  left:10px;
  top:12px;
  width:308px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:783px;
  width:320px;
  height:40px;
  text-align:left;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u31 {
  position:absolute;
  left:10px;
  top:12px;
  width:308px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:825px;
  width:320px;
  height:40px;
  text-align:left;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u33 {
  position:absolute;
  left:10px;
  top:12px;
  width:308px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:867px;
  width:320px;
  height:40px;
  text-align:left;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u35 {
  position:absolute;
  left:10px;
  top:12px;
  width:308px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:909px;
  width:320px;
  height:40px;
  text-align:left;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u37 {
  position:absolute;
  left:10px;
  top:12px;
  width:308px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:951px;
  width:320px;
  height:40px;
  text-align:left;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u39 {
  position:absolute;
  left:10px;
  top:12px;
  width:308px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:340px;
  top:699px;
  width:170px;
  height:32px;
  color:#797979;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:32px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:330px;
  top:528px;
  width:219px;
  height:16px;
  color:#797979;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:340px;
  top:93px;
  width:164px;
  height:16px;
  color:#797979;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
