/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

/* Could only find this font as an otf, not sure if this is a good practice or not */
@font-face {
font-family: Norwester;
src: url("fonts/norwester.otf") format("opentype");
}
dashjkdsj
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 2rem;
}

section:not([id]) {
  margin: 1em 0;
  padding: 1em 0;
  border-bottom: 0.15em solid #333;
}

section h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}

nav {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 0.15em solid #333;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
  display: block;
}

ul.citations {
  margin-left: 0.25em;
  padding-left: 0.25em;
}

ul.citations li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 1em;
}

ul.citations li strong {
  font-weight: normal;
  font-style: italic;
}

cite {
  font-style: normal;
}


/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.75em 0.75em;
  font-family: 'Roboto Slab';
  color: #FFF;
  background-color: #3fb0ac;
  text-decoration: none;
  width: 100%;
  /*max-width: 15rem;*/

  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}


.button-nav-sub {
  display: inline-block;
  padding: 0.75em 0.75em;
  font-family: 'Roboto Slab';
  color: #FFF;
  background-color: #3fb0ac;
  text-decoration: none;
  width: 100%;
  max-width: 15rem;

  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}


.button-nav:hover, 
.button-nav:focus,
.button-nav-sub:hover,
.button-nav-sub:focus {
  background-color: #173e43;
}


/* In text link styling */
.link-text {
   color: #3374BA;
   text-decoration: none;
}

.link-text:hover,
.link-text:focus {
  color: #14499E;
  text-decoration: underline;
}


/* Input button */
.button-form-submit,
.button-form-reset {
  display: inline-block;
  padding: 0.3em 0.75em;
  margin: 0em;
  font-family: 'Roboto Slab';
  color: #FFF;
  background-color: #3fb0ac;
  text-decoration: none;
  vertical-align: top;
  border: none;

  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.button-form-reset {
  background-color: #3fb0ac;
}

.button-form-submit:hover, 
.button-form-submit:focus {
  background-color: #173e43;
}

.button-form-reset:hover, 
.button-form-reset:focus {
  background-color: #173e43;
}


/* Text box input */
.input-text {
  display: inline-block;
  padding: 0.2em 0.3em;
  border: none;
  border: 0.1em solid #999;

  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}

.input-text:focus {
  outline: none;
  -webkit-box-shadow: inset 0em 0em 0.4em 0em;
  box-shadow: inset 0em 0em 0.4em 0em;
}

.input-label {
  font-weight: light;
  display: block;
  color: #999;
}


/* 
  TEXT ELEMENTS -------------------
*/

/* Header for big things */
.big-header {
  color: #000;
  font-family: 'Norwester';
  font-size: 3em;
}

/* Header for body text */
.body-header {
  color: #000;
  font-family: 'Roboto Slab';
  margin: 0.2em 0em 0.3em 0em;
}

/* Header for small things and product listings */
.sub-header {
  font-family: 'Open Sans';
  font-size: 1em;
  font-weight: bold;
}

/* Main body text */
.body-text {
  max-width: 50rem;
  width: 80%;
  font-family: 'Open Sans';
}


/* A bulleted list */
.point-list {
  list-style-position: inside;
  list-style-type: none;
  padding-left: 0em;
}

.point-list li {
  color: #000;
  border-left: 1em #3fb0ac solid;
  padding: 0em 0em 0em 0.2em;
  margin: 0.2em 0em;
}


/* A numbered list */
.numbered-list {
  list-style-position: inside;
  list-style-type: none;
  padding-left: 0em;
  
}

.numbered-list li {
  counter-increment: step-counter;
   margin: 0.2em 0em;
}

.numbered-list li::before {
  content: counter(step-counter);
  display: inline-block;
  margin-right: 0.75rem;
  background-color: #3fb0ac;
  color: #FFF;
  width: 1em;
  height: 100%;
  font-family: 'Roboto Slab';
  font-size: 1.1rem;
  text-align: center;
}

/* 
  COMBINED ELEMENTS -------------------
*/

/* Main navigation bar */
/*.main-nav-box {
  width: 100%;
  height: auto;
}*/

/*.main-nav-box:after {
  content: "";
  display: block;
  clear: both;
}
*/
/*.main-nav-col {
  float: left;
  width: 17%;
  min-width: 7rem;
  padding: 0em;
  margin-right: 1.6em;
}*/

/*
  less than 30em it should collapse nac to one line-per button
*/
@media (max-width: 35em) {

  .main-nav-col {
    width: 100%;
  }

}


/* Product grid */
.product-grid {
  width: 100%;
  height: auto;
}

.product-grid:after {
  content: "";
  display: block;
  clear: both;
}

.product-element {
  display: inline-block;
  float: left;
  width: 20em;
  height: 20em;
  padding: 0em;
  margin: 1em 2em 1em 0em;
  padding: 0em;
  text-decoration: none;
  overflow: hidden;

  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}


/* Drop shadow to make the product element rise off the page when you hover it */
.product-element:hover,
.product-element:focus {
  -webkit-box-shadow: 0em 0em 2em 0em rgba(0, 0, 0, 1.0);
  -moz-box-shadow: 0em 0em 2em 0em rgba(0, 0, 0, 1.0);
  box-shadow: 0em 0em 2em 0em rgba(0, 0, 0, 1.0);
}

.product-element h3 {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 1em;
  font-weight: lighter;
  color: #FFF;
  margin: 0;
  padding: 1em 0em 0.2em 1em;
}

.product-element img {
  width: auto;
  height: 100%
}

/*
  media querie for product listing, needs to go vertical 
*/
@media (max-width: 25em) {

  .product-element {
    width: 100%;
  }

}

/* 
  main site grid layout
 */

 .main-grid {
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex; 

  /* wrap child elements that are too-wide for their current row */
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; 

  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
 }


/* Header element for site grid */
.grid-item-header {
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}

/* Main navigation bar grid area */
.grid-item-nav {
  /*background-color: #4CAE4E;*/
  width: 100%;
  min-height: 3em;
  margin-bottom: 1em;

  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}

/* The main text / image area of site grid */
.grid-item-article {
  -webkit-flex-grow: 0.7;
  -ms-flex-grow: 0.7;
  flex-grow: 0.7;

  max-width: 55em;

  -webkit-flex-basis: 20em;
  -ms-flex-basis: 20em;
  flex-basis: 20em;
}

/* Secondary navigation? where lists and stuff goes in site grid*/
.grid-item-list-area {
  max-width: 30em;

  -webkit-flex-grow: 0.3;
  -ms-flex-grow: 0.3;
  flex-grow: 0.3;
  
  -webkit-flex-basis: 15em;
  -ms-flex-basis: 15em;
  flex-basis: 15em;
}

.grid-item-list-area ul {
  margin: 0em;
  padding: 0em;
}

.grid-item-list-area ul li {
  margin: 0em;
  margin-bottom: 0.1em;
  display: block;
  width: 100%;
  min-width: 20em;
}

/* Small display settings */
@media (max-width: 35em) {

  .grid-item-list-area {
    max-width: 100%;
  }

  .grid-item-list-area ul li {
    min-width: auto;
  }

}